@model Renfield.GUIDService.Models.GuidListModel

<div class="jumbotron">
    <h1>GUID service</h1>
    <p class="lead">Generate GUIDs.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Description</h2>
        <p>Generate a number of GUIDs and measure how long it took for the call to execute.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Count, new { @class = "col-sm-4 control-label" })
                @Html.TextBoxFor(m => m.Count, new { @class = "col-sm-8 form-control number" })
                @Html.ValidationMessageFor(m => m.Count)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Duration, new { @class = "col-sm-4 control-label" })
                @Html.DisplayFor(m => m.Duration, new { @class = "col-sm-8 form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Values, new { @class = "col-sm-4 control-label" })
            </div>
            <div class="form-group">
                <ul class="col-sm-6">
                    @foreach (var guid in Model.Values)
                    {
                        <li>@guid</li>
                    }
                </ul>
            </div>
            <button type="submit" class="btn btn-default">Run</button>
        }
    </div>
</div>