@using StackExchange.Profiling

<!DOCTYPE html>
<html>
  <head>
    @this.InitClientTimings()
    
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui.notify.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.1.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/knockout.validation.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.notify.js")" type="text/javascript"> </script>
    
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.1.2.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("signalr/hubs")"> </script>
    
    <script src="@Url.Content("~/Scripts/helpers.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/viewModel.js")" type="text/javascript"> </script>
    
    <script type="text/javascript">
      $.BASE_URL = '@Url.Action("Index", "Home", null, "http")';
    </script>
  </head>
  <body>
    <div id="notifications" style="display: none">
      <div id="basic-template">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1>#{title}</h1>
        <p>#{text}</p>
      </div>
    </div>
    <div class="page">
      <header>
        <div id="title">
          <h1>Inventory Management</h1>
        </div>
        <div id="logindisplay">
          @Html.Partial("_LogOnPartial")
        </div>
        <nav>
          <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Product Inventory", "Index", "Stocks")</li>
            <li>@Html.ActionLink("Acquisitions", "Index", "Acquisitions")</li>
            <li>@Html.ActionLink("Sales", "Index", "Sales")</li>
          </ul>
        </nav>
      </header>
      <section id="main">
        @RenderBody()
      </section>
      <footer>
        Copyright (c) 2013 <a href="http://renfieldsoftware.com">Renfield Software</a> &mdash; <a href="mailto:mdpopescu@renfieldsoftware.com">questions or comments?</a>
      </footer>
    </div>
    @MiniProfiler.RenderIncludes()
    
    <script type="text/javascript">
      $(function() {
        $('#notifications').notify();

        $(document).ajaxError(function(event, xhr, settings, ex) {
          $('#notifications').notify('create', {
            title: 'Server Error',
            text: ex
          });
        });
      });
    </script>
  </body>
</html>