@model Renfield.SafeRedir.Models.SummaryInfo

@{
  ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<div id="stats">
  <ol>
    <li>
      <span class="period">@Html.LabelFor(m => m.Today)</span>
      <span class="count">@Html.DisplayFor(m => m.Today)</span>
    </li>
    <li>
      <span class="period">@Html.LabelFor(m => m.CurrentMonth)</span>
      <span class="count">@Html.DisplayFor(m => m.CurrentMonth)</span>
    </li>
    <li>
      <span class="period">@Html.LabelFor(m => m.CurrentYear)</span>
      <span class="count">@Html.DisplayFor(m => m.CurrentYear)</span>
    </li>
    <li>
      <span class="period">@Html.LabelFor(m => m.Overall)</span>
      <span class="count">@Html.DisplayFor(m => m.Overall)</span>
    </li>
  </ol>
</div>

<!-- chart -->

<div id="chart" class="chart"></div>

<script type="text/javascript">
  var data = [@Model.Today, @Model.CurrentMonth, @Model.CurrentYear, @Model.Overall];

  var scaling = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range(["10px", "420px"]);

  var chart = d3.select("#chart");

  chart.selectAll("div")
    .data(data)
    .enter()
    .append("div")
    .style("width", scaling)
    .text(String);

</script>