@using Renfield.Inventory
@model Renfield.Inventory.Models.AcquisitionModel
@{
  ViewBag.Title = "Create new acquisition";
}

<h2>Create new acquisition</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
  <div id="formHeader">
    <span>
      @Html.LabelFor(m => m.CompanyName)
      @Html.EditorFor(m => m.CompanyName)
      @Html.ValidationMessageFor(m => m.CompanyName)
    </span>
    <span>
      @Html.LabelFor(m => m.Date)
      @Html.EditorFor(m => m.Date)
      @Html.ValidationMessageFor(m => m.Date)
    </span>
  </div>

  <div id="formItems">
    <table id="acquisition_items" class="jtable">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Value</th>
          <th><button data-bind="click: addItem">[+]</button></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: items">
        <tr>
          <td>
            <input data-bind="@Html.DataBinding(m => m.Items, it => it.ProductName)" type="text" value="" />
          </td>
          <td>
            <input data-bind="@Html.DataBinding(m => m.Items, it => it.Quantity)" type="text" value="" />
          </td>
          <td>
            <input data-bind="@Html.DataBinding(m => m.Items, it => it.Price)" type="text" value="" />
          </td>
          <td>
            <input data-bind="value: Value" readonly="readonly" type="text" value="" />
          </td>
          <td>
            <button data-bind="click: $parent.delItem">[--]</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <input type="submit" value="Submit" />
}

<script type="text/javascript">
  $(function() {
    var viewModel = new ViewModel();
    ko.applyBindings(viewModel);

    JTable.Setup();

    function ViewModel() {
      var self = this;

      self.CompanyName = ko.observable();
      self.Date = ko.observable();
      self.items = ko.observableArray([new Item()]);

      self.addItem = function() {
        self.items.push(new Item());
      };

      self.delItem = function(item) {
        self.items.remove(item);
        if (self.items().length == 0)
          self.addItem();
      };
    }

    function Item() {
      var self = this;

      self.ProductName = ko.observable();
      self.Quantity = ko.observable();
      self.Price = ko.observable();
      self.Value = ko.computed(function() {
        try {
          var result = parseFloat(self.Quantity()) * parseFloat(self.Price());
          return isNaN(result) ? 0 : result;
        } catch(ex) {
          return 0;
        }
      });
    }
  })
</script>